.sidebar
  .sidebar__header
    .sidebar__header__log
      .sidebar__header__log__name 
        masa
      .sidebar__header__log__btnbox
        = link_to "#", class: "sidebar__header__log__btnbox--btn1"do
          %i.far.fa-edit     
        = link_to "#", class: "sidebar__header__log__btnbox--btn2"do
          %i.fa.fa-cog     
  .sidebar__form
    .sidebar__form__block
      .sidebar__form__block__groupname
        techcamp
      .sidebar__form__block__newposts
        まだメッセージがありません

    