* {
  box-sizing: border-box;
  // サイド
  .sidebar{
    height: 100vh;
    width: 300px;
    background-color: #2f3e51;
    float: left;
    // サイドヘッダー
    &__header{
       height: 100px;
       background-color: #253141;
       display: flex;
       &__log{
        margin: auto 20px;
        display: flex;
        width:260px;
        height: 20px;
        position: relative;
        justify-content: space-between;
        &__name{
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
          color: #ffffff;
        }   
        &__btnbox{
          height: 20px;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .icon-1{
            padding-right: 5px;
            color: #eeeeee;
          }
          .icon-2{
            color: #eeeeee;
          }
        }
       }
    }
    // サイドフォーム
    &__form{
      height: 100px;
      &__block{
        .group{
          padding: 20px 20px 40px 20px;
          font-weight: bold;
          .groupname{
            color: #ffffff;
            font-size: 15px;
            padding-bottom: 5px;
          }
          .newposts{
            color: #ffffff;
            font-size: 11px;
          }
        }
      }
    }
  }
  // メイン
  .mainchat{
    height: 100vh;
    width:calc(100vw - 300px);
    float: right;
    // メインヘッダー
    &__header{
      padding:0px 40px;
      height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__group{
        &__name{
          color:#333333 ;
          font-size: 20px;
          padding:35px 0px 15px;
        }
        &__memeber{
          color: #999999;
          font-size: 12px;
        }
      }
      &__edit{
        height: 40px;
        width: 72px;
        border: #38aef0 1px solid;
        margin-top: 28px;
        padding:0 20px;
        line-height: 40px;
        &--btn{
          color: #38aef0;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
    // コンテンツ
    &__contents{
      height: calc(100vh - 190px);
      background-color:#fafafa ;
      padding:35px 40px 0px 40px;
      display: flex;
      flex-direction: column;
      &__coment{
        &__name{
          color: #333333;
          font-size: 16px;
          float: left;
          &__posts{
            padding:12px 0px 46px ;
            color: #434a54;
            font-size: 14px;
          }
        }
        &__days{
          color: #999999;
          font-size: 12px;
          float: right;
        }
      }
    }
    // 投稿フォーム
    &__form{
      height: 90px;
      background-color: #d2d2d2;
      padding:20px 40px;
      
      form{
        display: flex;

        .input-box{
          width:100%;
          display: flex;
          position: relative;
          &__text{
          height: 50px;
          width:100%;
          border-style: none;
          padding: 0 0px 0 10px;
          }
          &__image{
            cursor:pointer;
            font-size: 1.3rem;
            position: absolute;
            right: 10px;
            top: 10px;
            &__file{
              display: none;
            }
          }
        }
        .submit-btn{
          height: 50px;
          width: 100px;
          padding: 0 30px;
          margin-left: 15px;
          cursor: pointer;
          background-color: #38aef0;
          color: white;
        }
      }
    }
  }
}